@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

header.ant-layout-header{    background: #3ba0e9;    color: #fff;}
footer.ant-layout-footer{    background: #3ba0e9;    color: #fff;}

.ant-layout-sider {background: #7dbcea;color: #fff;}
.ant-layout-sider li {list-style: none;}
.ant-layout-sider li a{color: #fff;}

